extends layout.pug
block singleBlogPost 
    div.blogPosts.postSelected
        h1 #{post.title}
        
        if ( typeof post.content === 'object' )
            a#glossaryh1Selector
                h1.underscore #{post.content.title}
            div.glossaryContent#glossaryContent
                each key in post.content.glossary
                    h2 #{key[0]}
                    p #{key[1]}
                
            div.blogPostContent
                p #{post.content.paragraph}
            // under title iterate over glossary object
        else
            p #{post.content}
block javaScript        
    script(src="/static/js/blogFunctionality.js")