extends ./layout.pug
block checklist
   
    div.checklistMain
        div.checklistBox
            h1 To Do List!
            
            for item in todoList
                div.checklistItemBox

                    div.checklistItem
                        div.checklistItemText
                            h1 #{item.task}
                            p(style="display: none;") #{item.description}
                        div.checklistItembuttons
                            button.subtaskButton Subtask
                            button.completeButton Complete
                            div.checklistDeleteButton
                                form(action='deleteChecklistItem', method='post')
                                    input(name="deleteSecret", type="password", class="deleteTaskField")
                                    button.deleteItem(name="deleteTask", value=item) Delete task!
                        
                    div.checklistSubtask(style="display: none;")
                        for task in item.subtask

                            div.subtaskItem
                                h2 #{task["subtask-title"]}
                                p #{task["subtask-description"]}
                                
            div.todoAddItem
                form(action='/updateChecklist', method='post', class="todoAddForm")
                    button#addItem(type="button") New task?
                    
                    div.todoInputSection(style="display: none;")
                        input(type="text", name='addItem', placeholder="What do you want to do Martin?", class="addItemInputfield")
                        textarea#addDescription(type='text', name='addDescription', placeholder="Do you want people to know what you mean there Martin?")
                        input#todoInputPassword(type='password', name='todoSecret', placeholder="Will do that good sir!")
                        input(type='submit', value='Add Task', class='todoSubmitButton', style="display: none;")
                    
            
                                
            



        
        
    