extends ./layout.pug
block glossaryPost
    div.glossaryPostMain
        div.glossaryPost
            h1 #{docs[0].text.title}
            h4 #{docs[0].text.ingress}

            for paragraph in docs[0].text.theory
                p #{paragraph}
                
            for snippet in docs[0].text.snippet
                p #{snippet}
                
                
        div.comments
            h1 Comments
            
            for comment in docs[0].comment
                p #{comment}
                
        div.commentForm
            form(action='', method='post')
                label(for='commentSection') Enter comment: 
                input#commentSection(type='text', name='comment', value='')
                input(type='submit', value='Post comment')
        
    